@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
footer {
  font-family: "Ubuntu", sans-serif;
}

img {
  width: 70%;
}

footer {
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-color--gray {
  background: #e7e7e7;
  color: rgb(184, 184, 184);
}

.bg-color--pink {
  background: #f80099;
  color: whitesmoke;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.content-default {
  padding: 20px;
}

.content-card {
  padding: 100px;
}

.text-center {
  text-align: center;
}

.content-flex {
  display: flex;
}

.flex-wrap {
  flex: 1;
  margin: 2px;
  width: 33%;
  justify-content: center;
}

.item-center--right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.item-center--left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container-paralax {
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.content-paralax--data {
  color: #fff;
  background: #e7e7e7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px;
  margin: 200px;
}

.bg-img--version--1 {
  background-image: url("https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.bg-img--version--2 {
  background-image: url("https://images.pexels.com/photos/1428171/pexels-photo-1428171.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}

.content-left--main {
  position: fixed;
  display: grid;
  left: 0;
  top: 30%;
  background: #f80099;
  padding: 15px 10px 15px 10px;
  border-radius: 0 10px 10px 0;
}

.content-left--main i {
  font-size: 50px;
  color: #fff;
}

.content-left--main a {
  margin: 15px 0px 15px 0px;
}

.content-left--main i:hover {
  font-size: 60px;
  color: #61ff53;
  transition: 1s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 100%;
  }

  .content-left--main {
    position: fixed;
    display: flex;
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    border-radius: 10px 10px 0 0;
  }

  .content-left--main i {
    font-size: 40px;
    color: #fff;
  }

  .content-left--main a {
    margin: 15px 20px 15px 20px;
  }

  .content-left--main i:hover {
    font-size: 50px;
    color: white;
    transition: 0;
  }
}
