@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, footer{
  font-family: 'Ubuntu', sans-serif;
}

img {
  width: 70%;
}

footer {
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-color--gray{
  background: #e7e7e7;
  color: rgb(184, 184, 184);
}

.bg-color--pink{
  background: rgb(248, 0, 153);
  color: whitesmoke;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.content-default{
  padding: 20px;
}

.text-center{
  text-align: center;
}

.content-flex{
  display: flex;
}

.flex-wrap{
  flex: 1;
  margin: 2px;
  width: 33%;
  justify-content: center;
}

.item-center--right{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.item-center--left{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container-paralax{
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.content-paralax--data{
  color: #fff;
  background: #e7e7e7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px;
  margin: 200px;
}

.bg-img--version--1{
  background-image: url('https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.bg-img--version--2{
  background-image: url('https://images.pexels.com/photos/1428171/pexels-photo-1428171.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}